<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319256427738-9g8a508eoeveoktrcd99drqor6lr1f4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319256427738-9g8a508eoeveoktrcd99drqor6lr1f4a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>319256427738-cui8so27unqsd3q7gdhmno67dm60oeja.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBG9Ka_X6Xc54VKEsFPA6o6XIi4UXD4Gyg</string>
	<key>GCM_SENDER_ID</key>
	<string>319256427738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.minutemanIpc</string>
	<key>PROJECT_ID</key>
	<string>minuteman-ipc</string>
	<key>STORAGE_BUCKET</key>
	<string>minuteman-ipc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319256427738:ios:158751bfa47cf987e8b9e3</string>
	<key>DATABASE_URL</key>
	<string>https://minuteman-ipc.firebaseio.com</string>
</dict>
</plist>